:host {
	display: block;
	position: relative;
	width: 600px;
	height: 600px;
	margin-bottom: 48px;
	margin-top: 42px;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
}

.g_food {
	position: absolute;
	background-color: #4CAF50;
	z-index: 1;
}

.g_obstacle {
	position: absolute;
	background-color: #444;
	z-index: 1;
}

.g_bug {
	position: absolute;
	background-color: #03A9F4;
	z-index: 1;
}

.g_player {
	transition: all 50ms;
	position: absolute;
	z-index: 2;
}

.g_tail {
	position: absolute;
	z-index: 1;
}

.g_pointer {
	outline: #ff0000 1px dotted;
	position: absolute;
	z-index: 2;
}

.game-ripple {
	position: absolute;
	display: block;
	top: 100px;
	left: 0;
	width: 600px;
	height: 500px;
	z-index: 3;
}

#foodRipple {
	color: #4CAF50;
}

#bugRipple {
	color: #03A9F4;
}

#container {
	position: relative;
	background: #ffffff;
	display: block;
	width: 600px;
	height: 600px;
}

#htmlCanvas {
	position: absolute;
	display: block;
	top: 100px;
	left: 0;
	width: 600px;
	height: 500px;
}

#gameOverlay {
	position: absolute;
	box-sizing: border-box;
	padding: 16px;
	color: #fff;
	background: #009688;
	width: 600px;
	height: 100px;
}

#timeAttackText {
	float: left;
	padding-left: 16px;
	padding-top: 5px;
	font-size: 19px;
}

#scoreText {
	display: block;
	float: left;
	font-size: 25px;
}

#pauseResume {
	display: block;
	float: right;
}

#gameOverOverlay {
	color: #fff;
	background-color: #009688;
	box-sizing: border-box;
	padding: 16px;
	position: absolute;
	z-index: 4;
	left: 150px;
	width: 300px;
	height: 154px;
	top: 245px; 
}

#label {
	font-weight: 500;
	font-size: 23px;
}

#gameOverOverlay paper-button {
	float: right;
	margin-top: 12px;
	margin-right: -7px;
}

#gameOverScore {
	padding-top: 6px;
	font-size: 16px;
}

#gameOverMessage {
	padding-top: 6px;
	font-size: 16px;
}

#quit {
	color: #fff;
}

#rate {
	float: right;
}

#exit {
	float: right;
}

#clear-map {
	float: right;
}

#exitCreateLink {
	color: #fff;
}

#rate-container {
	box-sizing: border-box;
	position: absolute;
	width: 400px;
	left: 100px;
	top: 200px;
	background-color: #fff;
	padding-left: 20px;
	padding-right: 20px;
	z-index: 5;
}

.light-floating-label {
	color: #fff;
	margin-right: 100px;
}

.light-floating-label /deep/ ::-webkit-input-placeholder {
  color: #ddd;
}

.light-floating-label /deep/ ::-moz-placeholder {
  color: #ddd;
}

.light-floating-label /deep/ :-ms-input-placeholder {
  color: #ddd;
}

.light-floating-label /deep/ .unfocused-underline {
    background-color: #ddd;
}