* {
		margin: 0;
		padding: 0;
	}

body {
	font-family: monospace;
	margin: 0;
	padding: 0;
	background-color: #0000ff;
	color: #ffffff;
}

.game-container {
	width: 750px;
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto
}

.canvas-container {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	float: left;
	width: 500px;
	height: 500px;
}

canvas {
	border: 1px solid #fff;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #000;
	z-index: 1;
}

.panel {
	float: right;
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
	border-right: 1px solid #fff;
	width: 247px;
	height: 500px;
}

#log {
	background-color: #000;
	color: #00ff00;
	height: 150px;
	overflow-x: hidden;
	overflow-y: scroll;
}

#start-overlay {
	width: 500px;
	height: 500px;
	position: absolute;
	color: #fff;
	top: 0;
	left: 0;
	z-index: 2;
}

.jumpatron {
	font-size: 50px;
	font-weight: 800;
	margin-top: 50px;
	text-align: center;
}

.game-button {
	box-sizing: border-box;
	padding-top: 14px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	font-size: 20px;
	cursor: pointer;
	width: 240px;
	border: 1px solid #fff;
	height: 50px;
}

.game-button:hover {
	background-color: #fff;
	color: #000;
	border: 1px solid #fff;
}

#game-over-overlay {
	z-index: 2;
	position: absolute;
	top: 0;
	left: 0;
	width: 500px;
	height: 500px;
	display: none;
}

#game-over-restart {
	box-sizing: border-box;
	padding-top: 14px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	font-size: 20px;
	cursor: pointer;
	width: 240px;
	border: 1px solid #fff;
	height: 50px;
}

#game-over-restart:hover {
	background-color: #fff;
	color: #000;
	border: 1px solid #fff;
}

::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: #000;
}

::-webkit-scrollbar-thumb {
    background: #393812;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
    background: #000;
}